<!DOCTYPE html>

<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- j-Query -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

  <!-- D3 links -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3-legend/1.1.0/d3-legend.js"></script>

  <!-- stylesheets -->
  <link rel="stylesheet" href="../static/css/layout.css">
  <!-- https://icons8.com/icons/set/favicon
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/> -->
  <title>D3: {% block title %}{% endblock %}</title>

</head>

<body>
  <!-- main content -->
  <main class="container p-5">
    <link rel="stylesheet" href="../static/css/basic.css">

    <script src="../static/js/papaparse.js"></script>
    <script src="../static/js/basic.js"></script>
    <script src="../static/js/main.js"></script>
    <div class="basic"></div>
  </main>

</body>

</html>
